@font-face {
    font-family: 'Muller';
    src: url('../fonts/Fontfabric\ -\ MullerLight.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Muller';
    src: url('../fonts/Fontfabric\ -\ MullerBoldItalic.otf') format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/Fontfabric\ -\ MullerBold.otf') format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/Fontfabric\ -\ MullerExtraBoldItalic.otf') format("opentype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/Fontfabric\ -\ MullerExtraBold.otf') format("opentype");
    font-weight: 800;
    font-style: normal;
}



@font-face {
    font-family: 'Muller';
    src: url('../fonts/Fontfabric\ -\ MullerBlack.otf') format("opentype");
    font-weight: 900;
    font-style: normal;
}