body{
    color: #414141;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
