@media (max-width: 1441px) {
    .content__right{
        img{
            width: 500px;
        }
    }
}

@media (max-width: 1323px) {
    .phone__link {
        display: none;
    }

    .content__right{
        margin-left: 0;
    }
}

@media (max-width: 1156px) {
    .account__link{
        display: none;
    }

    .content__right{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin: 0;
    }

    .content__left{
        position: relative;
        z-index: 2;
    }
}

@media (max-width: 1055px) {
    .menu__list{
    
        li + li{
            padding-left: 26px;
        }
    }

    .header__group{
        padding: 0 15px;
    }

}

@media (max-width: 913px) {
    .logo{
        img{
            width: 200px;
        }
    }

    .phone{
        padding-right: 20px;
    }
}


@media (min-width: 425px) {
    .four-section-bg{
        background-image: url("../img/four-section-bg.png");
    }

    .two-section-bg{
        background-image: url('../img/two-section-bg.png');
    }

    .for__items-top .for__item{
        &:nth-child(1) {
            padding-right: 262px;
        }
        &:nth-child(2) {
            margin-top: 47px;
        }
    }

    .for__items-bottom .for__item{
        &:nth-child(1) {
            padding-right: 188px;
        }
        &:nth-child(2) {
            margin-top: 36px;
        }
    }
}

@media (max-width: 768px) {
    // HEADER
    .menu {
        display: none;
    }

    .phone{
        display: none;
    }

    .account__link{
        display: none;
    }

    .header__top{
        padding-top: 0;
    }

    .header__content{
        padding-top: 20px;
    }

    .content__right{
        img{
            width: 348px;
        }
    }

    .content__left{
        position: relative;
        order: 1;
    }


    .left__bottom{
        &-btn{
            right: 15%;
            margin-top: 48px;
            font-size: 13px;
            padding: 20px 71px 20px 58px;
            img{
                width: 13px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .header__group{
        background-color: transparent;
        padding: 0;
    }

    .logo{
        margin-right: -36px;
    }

    .menu-hamburger{
        position: relative;
        background-color: #fff;
        display: inline-block;
        height: 42px;
        width: 42px;
        border-radius: 50%;
        box-shadow: 0px 7px 13px 0px rgba(#000000, .07);
        order: -1;

        div{
            position: absolute;
            height: 1.5px;
            width: 18px;
            background-color: #000000;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &::after{
                content: '';
                position: absolute;
                top: -5.5px;
                height: 1.5px;
                width: 18px;
                background-color: #000000;
            }

            &::before{
                content: '';
                position: absolute;
                top: 5.5px;
                height: 1.5px;
                width: 18px;
                background-color: #000000;  
            }
        }
    }
}

@media (max-width: 740px) {
    .content__left{
        padding-left: 0;
    }
    .left__bottom{
        min-width: 328px;
        padding-left: 0;

        &-block{
            margin-left: 35px;
        }
    }
}

@media (max-width: 615px) {
    .content__right{
        img{
            width: 300px;
        }
    }

    .left__top{

        &-title{
            font-size: 60px;
        }

        &-subtitle{
            font-size: 21px;
            padding-left: 30px;
        }

        &-info{
            font-size: 15px;
            line-height: 20px;
            padding-left: 30px;
            padding-bottom: 35px;
        }
    }

    .left__bottom{
        &-btn{
            right: 10%;
            font-size: 13px;
            padding: 15px 51px 15px 38px;
        }

        &-arrow{
            left: 250px;
        }

        &-block{
            margin-left: 30px;
        }

    }
}

@media (max-width: 501px) {
    .left__bottom{
        &-btn{
            right: 0;
        }

        &-arrow{
            left: 150px;
        }
    }
}


@media (max-width: 430px) {
    .header{
        background-image: url('../img/mobile-head.svg');
    }

    .content__right{
        img{
            width: 248px;
        }
    }

    .content__left{
        padding-top: 273px;
        padding-left: 0;
    }

    .left__top{
        max-width: 340px;

        &-title{
            font-size: 40px;
            line-height: 55px;
        }

        &-subtitle{
            padding-left: 20px;
            line-height: 26px;
            font-size: 19px;
            max-width: 280px;
        }

        &-info{
            padding-left: 20px;
        }
    }

    .left__bottom{

        &-btn{
            margin-top: 28px;
        }
        
        &-block{
            max-width: 290px;
            margin-left: 20px;
        }

        &-arrow{
            left: 46px;
        }


    }
}

@media (max-width: 376px) {
    // ABOUT
    .about{
        background-image: url('../img/mobile-about.svg');
        background-repeat: no-repeat;
        background-position: bottom right;
        position: relative;
    }

    .sidebar__text{
        display: none;
    }

    .about__left{
        padding-left: 15px;
        margin-right: 0;
    }

    .about__right{
        img{
            width: 300px;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            bottom: 5%;
        }
    }

    .accordion__item{
        position: relative;
        z-index: 2;
        &-top{
            width: 338px;
        }

        &-title{
            max-width: 200px;
            padding-left: 32px;
        }

        &-desc{
            width: 286px;
            font-size: 14px;
            line-height: 23px;
            padding: 0 19px 0 32px;
            
        }
    }

    .accordion__item.active .accordion__item-desc{
        opacity: 1;
        max-height: 394px;
        padding: 101px 19px 46px 32px;
        transition: all .5s linear;
    }

    // FOR
    .for{
        margin-top: -200px;
        background-image: url('../img/mobile-for.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        padding-top: 272px;
        padding-bottom: 300px;

        &__inner{
            padding-left: 15px;
            margin-right: 0;
        }
    }

    .for__items{
        .for__item{
            min-width: 344px;
            margin: 0;
            padding: 0;
            margin-top: 52px;
        }
        &-top{
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
        }

        &-bottom{
            margin: 0;
            padding: 0;
            flex-wrap: wrap;
        }
    }

    .for__item {

        &-circle{
            width: 67px;
            height: 67px;
            left: 50%;
            transform: translate(-50%);
            top: -34px;

            img{
                width: 37px;
            }
        }

        &-block{
            max-width: 344px;

        }
        
        &-text{
            padding: 50px 33px 40px 33px;
        }
    }

    .for__block{

        &-title{
            padding-bottom: 20px;
        }
    }

    .circle-cut{
        background: 
            radial-gradient(circle at top, transparent 35px, #fff 0);
    }

    .for__img{
        left: 50%;
        transform: translate(-50%);
        top: 98%;
        width: 269px;
    }

    // PROGRAMM
    .programm {
        background-image: url('../img/mobile-programm.svg');
        background-repeat: no-repeat;
        background-position: 0px;
    }
    .programm__inner{
        padding: 0 15px;
    }

    .programm__head-title{
        padding-bottom: 5px;
    }

    .programm__head-subtitle{
        max-width: 310px;
        padding-bottom: 30px;
    }

    .programm__menu{
        height: 1100px;

        &-line{
            max-width: 344px;
            margin-bottom: 0;
        }

        &-title{
            font-size: 17px;
            line-height: 20px;
            padding: 28px 70px 28px 31px;
        }

        &-btn{ 
            right: 15px;
        }

        &-block{
            margin-top: -75px;
            position: relative;
            left: 0;
            opacity: 0;
            margin-bottom: 20px;
        }
    }

    .programm__subblock{
        padding: 120px 19px 24px 39px;
        max-width: 286px;

        &-title{
            display: none;
        }

    }

    .programm__menu-image{
        top: 65%;
        left: 50%;
        transform: translate(-50%);
        width: 234px;
        z-index: -1;
    }

    .programm__menu-item.active .programm__menu-block{
        max-height: 800px;
    }

    .programm__btn {
        margin-top: 0;
        bottom: 0;
        &-submit{
            font-size: 13px;
            line-height: 17px;
            padding: 22px 52px;
        }
    }


    // PRICE 
    .price{
        margin-top: -450px;
        background-image: url('../img/mobile-price.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        z-index: -1;
        min-height: 3400px;
    }
    .price__inner{
        padding: 0 15px;
        padding-top: 550px;
    }

    .price__block{
        min-width: 344px;
    }

    .price__title{
        padding-bottom: 58px;
    }

    .price__item{
        margin-bottom: 100px;
    }

    .price__cards{
        flex-wrap: wrap;
    }

    .price__item-big{
        transform: scale(1);
        box-shadow: none;
    }

    .price__block-btn {
        bottom: -4%;
    }

    .price__block-btn_book{
        font-size: 14px;
        padding: 20px 85px;
    }

    // FEEDBACK
    .feedback{
        background-image: url('../img/slider-bg.svg');
        background-repeat: no-repeat;
        background-position: top left;
        padding-top: 150px;
        margin-top: -580px;
        // background-size: cover;
    }
    .feedback__title{
        padding-left: 15px;
    }

    .feedback__block{
        padding: 85px 15px 45px 15px;
        margin: 0 10px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        margin-top: 40px;
    }

    .feedback__slider button {
        left: 50%;
        transform: translateX(-100%);
    }

    // FOOTER
    .footer{
        margin-top: -250px;
        padding-top: 200px;
        background-image: url('../img/mobile-form.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        &__inner{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .footer__title{
        padding-bottom: 120px;
    }
    .footer__block{
        flex-wrap: wrap;
    }

    .contact__form{
        width: 345px;
    }

    .form{

        &__logo{
            top: -18%;
            img{
                width: 121px;
            }
        }

        &__rect{
            margin-top: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: 347px;
        }

        &__inputs{
            padding-top: 156px;
        }

        &__title{
            font-size: 22px;
            margin-top: 45px;
        }
    
        &__gr-check{
            max-width: 220px;
            padding-bottom: 70px;
        }

        &-checkstyle{
            height: 22px;
            width: 22px;
        }

        &-control{
            min-width: 219px;
            min-height: 53px;
            padding: 0 25px;
            margin-bottom: 10px;
        }

        &__btn-submit{
            font-size: 14px;
            padding: 21px 90px;
        }

    }

    .check-text{
        padding-left: 50px;
    }

    .message-input input{
        padding-bottom: 56px;
    }

    .footer__right{
        padding: 0 15px;
    }

    .foot-title{
        font-size: 22px;
        padding-bottom: 20px;
    }

    .footer__nav-menu_l {
        padding-right: 30px;
    }

    .footer__block-help{
        padding-left: 40px;
    }

    .footer__block-bottom{
        padding-top: 62px;
        padding-bottom: 50px;
    }

    .footer__social{
        margin-right: 6px;
    }

    .footer__right-logo {
        margin-left: 40%;
        transform: translateX(-50%);
        img{
            margin-bottom: -30px;
        }
    }
    
}