@import "global";
@import "vars";
@import "libs";
@import "fonts";

/* BASIC */ 
.container{
    max-width: 1444px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-big{
    max-width: 1660px;  
    margin: 0 auto;
}

.container-main{
    max-width: 1168px;
    margin: 0 auto;
}

/* ----- HEADER ----- */
.header{
    min-height: 1082px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}


// Top + Menu
.header__top{
    padding-top: 31px;
}

.header__group{
    background-color: #fff;
    border-radius: 23px;
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    padding: 0 41px;
}

.logo{
    margin-left: -36px;
    padding-top: 15px;
}

.menu__link{
    font-size: 17px;
    font-weight: 800;
}

.menu__list{
    display: flex;

    li + li{
        padding-left: 46px;
    }
}

.left-side{
    display: flex;
    align-items: center;
}

.phone{
    padding-right: 62px;
    font-weight: 800;

    &__link{
        text-decoration: underline;
        color: $green;
    }
}

.account{
    display: flex;
    align-items: center;
}

.account__link{
    padding-right: 15px;
    font-size: 14px;
    font-weight: 800;
    color: #494949;
}

.account__btn {
    background-color: #fff;
    display: inline-block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    box-shadow: 0px 7px 13px 0px rgba(#000000, .07);
    text-align: center;

    img{
        padding-top: 9px;
    }
}

// Content
.header__content{
    padding-top: 65px;
    display: flex;
}

.content__left{
    padding-top: 39px;
    padding-left: 90px;
}

.left__top{
    max-width: 568px;

    &-title{
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 100px;
        margin: 0;
        text-transform: uppercase;
        background: linear-gradient(60deg, #64A161 30%, #B1DA8B 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-subtitle{
        margin: 0;
        font-weight: 900;
        font-size: 26px;
        line-height: 37px;
        color: #454545;
        text-transform: uppercase;
        padding: 20px 0 24px 36px;
    }

    &-info{
        font-weight: 300;
        font-size: 19px;
        line-height: 26px;
        color: #535353;
        padding: 0 0 50px 36px;

        span{
            font-style: italic;
            font-weight: 700;
        }
    }
}

.left__bottom{
    padding-left: 36px;
    min-width: 600px;
    position: relative;

    &-block{
        max-width: 380px;
        background-color: #fff;
        border-radius: 23px;
        position: relative;
        box-shadow: 0px 26px 55px 9px rgba(#000000, .1);
    }

    &-arrow{
        position: absolute;
        left: 224px;
        z-index: 5;
        margin-top: -15px;
    }

    &-info{
        font-weight: 800;
        font-size: 17px;
        line-height: 21px;
        color: #535353;
        padding: 30px 14px 30px 44px;
        max-width: 322px;

        span{
            font-style: italic;
            color: #2C7DB2;
        }
    }

    &-btn{
        position: absolute;
        right: 0;
        display: inline-block;
        margin-top: 45px;
        background: linear-gradient(60deg,#66A362 10%, #9FCD81 50%);
        text-transform: uppercase;
        font-weight: 800;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.015em;
        color: #fff;
        border-radius: 89px;
        padding: 27px 70px 27px 78px;
        box-shadow: 0px 17px 36px -5px rgba(#9FCD81, .95);

        img{
            padding-left: 7px;
            margin-bottom: -6px;
        }
    }
}

.content__right{
    margin-left: 114px;
}


/* ----- ABOUT ----- */
.about{
    position: relative;
    min-height: 1212px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-top: -95px;

    &__inner{
        display: flex;
    }
}

// Sidebar Text
.sidebar__text{
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left top;
    line-height: 121px;
    text-align: right;
    font-weight: 900;
    font-size: 121px;
    text-transform: uppercase;
    width: 958px;
    bottom: 1%;
    left: 165px;
    color: #F7F7F7;
}


// Content
.about__left{
    margin-right: 232px;
    padding-left: 44px;

    &-title{
        margin: 0;
        font-weight: 900;
        font-size: 26px;
        line-height: 38px;
        text-transform: uppercase;
        color: #454545;
        padding-bottom: 45px;

        span{
            color: $blue;
        }
    }
}

.about__right{
    padding-top: 254px;
}

// Accordion Menu
.accordion__item {
    min-height: 106px;
    margin-bottom: 25px;

    &-top{
        position: relative;
        background-color: #fff;
        min-width: 508px;
        box-shadow: 15px 15px 45px 3px rgba(#000000, .08);
        border-radius: 23px;
        cursor: pointer;
        z-index: 2;
    }

    &-title{
        margin: 0;
        color: #535353;
        font-weight: 800;
        font-size: 19px;
        line-height: 24px;
        padding: 36px 43px 46px 43px;
    }

    &-desc{
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        background-color: #fff;
        box-shadow: 0px 15px 45px 3px rgba(#000000, .08);
        padding: 0 60px 0 44px;
        border-radius: 23px;
        margin-top: -56px;
        max-height: 0px;
        margin-bottom: 25px;
        opacity: 0;
        overflow: hidden;
        will-change: opacity, max-height, padding;
        transition: opacity .5s linear, max-height .5s linear, padding .5s linear;
        p{
            margin: 0;
            &:nth-child(1){
                padding-bottom: 36px;
            }
        }
    }
}

.btn-shadow{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 51px;
    right: -10px;
    top: 27px;
    border-radius: 100%;
    background: #fff;
    box-shadow:inset 0px 0px 30px 10px rgba(#000000, .05);
}

.btn-main{
    width: 40px;
    height: 40px;
    right: 5px;
    top: 5px;
    border-radius: 100%;
    background: linear-gradient(100deg,#66A362 20%, #9FCD81 70%);
    box-shadow: 0px 10px 22px 4px rgba(#9FCD81, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    div{
        position: absolute;
        height: 2px;
        background: #fff;
        width: 11px;
        border-radius: 10%;
        transition: .5s all;
        
        &:nth-child(2) {
            transform: rotate(90deg);
            }
        }
}

.accordion__item.active .btn-main{
    div{
        &:nth-child(2) {
            transform: rotate(180deg);
        }
    }
}

.accordion__item.active .accordion__item-desc{
    opacity: 1;
    max-height: 394px;
    padding: 101px 60px 46px 44px;
    transition: all .5s linear;
}


/* ----- FOR SECTION ----- */
.for{
    position: relative;
}

.for__inner{
    padding-left: 33px;
}

// Title
.for__title{
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    color: #fff;
    text-transform: uppercase;
}

//Content Cards
.for__items{

    &-top{
        display: flex;
        padding-left: 128px;
        margin-top: 60px;
    }

    &-bottom{
        display: flex;
    }
}

.for__item{
    min-width: 436px;
    position: relative;

    &-circle{
        width: 86px;
        height: 86px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 175px;
        top: -43px;
        box-shadow: 0px 7px 13px 10px rgba(#000000, .5);

    }

    &-text{
        max-width: 332px;
        padding-top: 62px;
        margin: 0 auto;
    }

    &-block{
        max-width: 436px;
        min-height: 330px;
        background-color: #fff;
        border-radius: 23px;
        box-shadow: 0px 26px 55px 9px rgba(#000000, .3);
    }
}

.for__block {

    &-title{
        margin: 0;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        color: #535353;
        text-align: center;
        padding-bottom: 30px;
    }

    &-title286{
        max-width: 286px;
        margin: 0 auto;
    }

    &-info{
        margin: 0;
        font-weight: 300;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #535353;
    }
    
}

.blue-info{
    font-weight: 700;
    font-style: italic;
    color: #21679E;
}

.circle-cut{
    background: 
        radial-gradient(circle at top, transparent 50px, #fff 0);
}

.for__sidebar{
    bottom: -5%;
}

@import "media";
