@import "global";
@import "vars";
@import "libs";
@import "fonts";

/* BASIC */ 
.container{
    max-width: 1444px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-big{
    max-width: 1660px;  
    margin: 0 auto;
}

.container-main{
    max-width: 1168px;
    margin: 0 auto;
}

/* ----- HEADER ----- */
.header{
    min-height: 1082px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}


// Top + Menu
.header__top{
    padding-top: 31px;
}

.header__group{
    background-color: #fff;
    border-radius: 23px;
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    padding: 0 41px;
}

.logo{
    margin-left: -36px;
    padding-top: 15px;
}

.menu__link{
    font-size: 17px;
    font-weight: 800;
}

.menu__list{
    display: flex;

    li + li{
        padding-left: 46px;
    }
}

.left-side{
    display: flex;
    align-items: center;
}

.phone{
    padding-right: 62px;
    font-weight: 800;

    &__link{
        text-decoration: underline;
        color: $green;
    }
}

.account{
    display: flex;
    align-items: center;
}

.account__link{
    padding-right: 15px;
    font-size: 14px;
    font-weight: 800;
    color: #494949;
}

.account__btn {
    background-color: #fff;
    display: inline-block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    box-shadow: 0px 7px 13px 0px rgba(#000000, .07);
    text-align: center;

    img{
        padding-top: 9px;
    }
}

// Content
.header__content{
    padding-top: 65px;
    display: flex;
}

.content__left{
    padding-top: 39px;
    padding-left: 90px;
}

.left__top{
    max-width: 568px;

    &-title{
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 100px;
        margin: 0;
        text-transform: uppercase;
        background: linear-gradient(60deg, #64A161 30%, #B1DA8B 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-subtitle{
        margin: 0;
        font-weight: 900;
        font-size: 26px;
        line-height: 37px;
        color: #454545;
        text-transform: uppercase;
        padding: 20px 0 24px 36px;
    }

    &-info{
        font-weight: 300;
        font-size: 19px;
        line-height: 26px;
        color: #535353;
        padding: 0 0 50px 36px;

        span{
            font-style: italic;
            font-weight: 700;
        }
    }
}

.left__bottom{
    padding-left: 36px;
    min-width: 600px;
    position: relative;

    &-block{
        max-width: 380px;
        background-color: #fff;
        border-radius: 23px;
        position: relative;
        box-shadow: 0px 26px 55px 9px rgba(#000000, .1);
    }

    &-arrow{
        position: absolute;
        left: 224px;
        z-index: 5;
        margin-top: -15px;
    }

    &-info{
        font-weight: 800;
        font-size: 17px;
        line-height: 21px;
        color: #535353;
        padding: 30px 14px 30px 44px;
        max-width: 322px;

        span{
            font-style: italic;
            color: #2C7DB2;
        }
    }

    &-btn{
        position: absolute;
        right: 0;
        display: inline-block;
        margin-top: 45px;
        background: linear-gradient(60deg,#66A362 10%, #9FCD81 50%);
        text-transform: uppercase;
        font-weight: 800;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.015em;
        color: #fff;
        border-radius: 89px;
        padding: 27px 70px 27px 78px;
        box-shadow: 0px 17px 36px -5px rgba(#9FCD81, .95);

        img{
            padding-left: 7px;
            margin-bottom: -6px;
        }
    }
}

.content__right{
    margin-left: 114px;
}


/* ----- ABOUT ----- */
.about{
    position: relative;
    min-height: 1212px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-top: -95px;

    &__inner{
        display: flex;
    }
}

// Sidebar Text
.sidebar__text{
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left top;
    line-height: 121px;
    text-align: right;
    font-weight: 900;
    font-size: 121px;
    text-transform: uppercase;
    width: 958px;
    bottom: 1%;
    left: 165px;
    color: #F7F7F7;
}


// Content
.about__left{
    margin-right: 232px;
    padding-left: 44px;

    &-title{
        margin: 0;
        font-weight: 900;
        font-size: 26px;
        line-height: 38px;
        text-transform: uppercase;
        color: #454545;
        padding-bottom: 45px;

        span{
            color: $blue;
        }
    }
}

.about__right{
    padding-top: 254px;
}

.about__items {
    min-width: 508px;
}

.about__item{
    // padding-bottom: 25px;
    position: relative;
    &:nth-child(2) {
        top: 75px;
    }
    &:nth-child(3) {
        top: 150px;
    }
    
    &-info{
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        background-color: #fff;
        box-shadow: 0px 15px 45px 3px rgba(#000000, .08);
        padding: 101px 60px 46px 44px;
        border-radius: 23px;
        overflow: hidden;
        display: none;
        opacity: 0;
        transition: 5s all;
    }

    &-text1{
        width: 404px;
        margin: 0;
        padding-bottom: 36px;
    }

    &-text2{
        width: 404px;
        margin: 0;
    }

    &-block{
        // background-color: #fff;
        box-shadow: 15px 15px 45px 3px rgba(#000000, .08);
        display: inline-block;
        border-radius: 23px;
        min-width: 508px;
        position: absolute;
        
    } 

    &-title{
        color: #535353;
        font-weight: 800;
        font-size: 19px;
        line-height: 24px;
        padding: 36px 43px 46px 43px;
    }

}



.item__btn-shadow{
    // position: absolute;
    display: inline-block;
    width: 51px;
    height: 51px;
    right: -10px;
    top: 27px;
    border-radius: 100%;
    background: #fff;
    box-shadow:inset 0px 0px 30px 10px rgba(#000000, .05);
   
}

.item__btn-main{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    right: 5px;
    top: 5px;
    border-radius: 100%;
    background: linear-gradient(100deg,#66A362 20%, #9FCD81 70%);
    box-shadow: 0px 10px 22px 4px rgba(#9FCD81, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    div{
        position: absolute;
        height: 2px;
        background: #fff;
        width: 11px;
        border-radius: 10%;
        transition: .3s all;

        &:nth-child(2) {
            transform: rotate(90deg);
        }
    }
}


.about__item-btn.active .about__item-info {
    display: block;
    opacity: 1;
}

.about__item-btn.active .item__btn-main{
    div {
        &:nth-child(2) {
            transform: rotate(180deg);
        }
    }
}

@import "media";
